*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-tomato: #d95550;
    --secondary-tomato:#dd6662;
    --dark-tomato: #bc5753;

    --primary-green: #4c9195;
    --secondary-green: #5e9ca0;

    --primary-blue: #457ca3;
    --secondary-blue: #5889ac;

}

body{
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
    margin: 0;
    padding: 0;
}

/*main-section*/

/*toggle*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #9cd25b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #9cd25b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.timer-form{
    width: 400px;

    background-color: white;
    z-index: 5;

    margin: auto;

    padding: 1.5rem 0.75rem;
    border-radius: 10px;

    position:fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: none;
}

.timer-form__title{
    margin-bottom: 10px;
}

.timer-form__title i{
    color: #bbbbbb;
    margin-right: 10px;
}

.timer-form__row{
    padding: 1.75rem 0;
    border-top: 2px solid #bbbbbb;
}

.timer-form h5{
    color: #575757;
    font-weight: bold;
    font-size: 16px;
}

.timer-form__session__item p{
    font-size: 14px;
}

.timer-form h3, 
.timer-form__session__item p{
    color: #bbbbbb;
}

.timer-form__title,
.timer-form__session,
.timer-form__start-break,
.timer-form__start-pomo,
.timer-form__long-break-interval{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer-form h3,
.timer-form__start-break h5,
.timer-form__start-pomo h5,
.timer-form__long-break-interval h5{
    display: inline;
}

.timer-form input[type="number"] {
    background-color:#efefef;
    border-radius: 5px;

    border: none;
    outline: none;

    width: 5.75rem;
    box-sizing: border-box;

    padding: 0.75rem 0.5rem;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.main-section{
    width: 100%;
    height: 200vh;   
}

.main-bg-tomato{
    background-color: var(--primary-tomato);
}

.main-bg-green{
    background-color: var(--primary-green);
}

.main-bg-blue{
    background-color: var(--primary-blue);
}

/*main-nav*/
.main-nav{
    color: white;
    width: 625px;
    margin: auto;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #c44c48;

    margin-bottom: 2rem;
}

.pomo-nav{
    border-bottom: 1px solid #c44c48;
}

.longbreak-nav{
    border-bottom: 1px solid #3e6f93;
}

.shortbreak-nav{
    border-bottom: 1px solid #448286;
}

/*fake*/


/*clock*/
.clock-wrapper{
    /*temp*/
    margin: auto;
    width: 480px;
    
    height: 325px;

    border-radius: 8px;
}

.clock-bg-tomato{
    background-color: var(--secondary-tomato);
}

.clock-bg-green{
    background-color: var(--secondary-green);
}

.clock-bg-blue{
    background-color: var(--secondary-blue);
}

.clock-wrapper__container{
    width: 80%;
    margin: auto;
    padding: 2rem 0;

    text-align: center;
    position: relative;

}

#icon-countdown-btn{
    color: white;

    position: absolute;
    top: 240px;
    right: 50px;

    display: none;
}

.tabs{
    display: flex;
    justify-content: space-around;
}

.timer h1{
    color: white;
    font-size: 120px;
}

/*note*/
.note{
    margin: 1.5rem auto;
    width: 480px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 19px;
    font-weight: 500;

    padding-top: 1rem;

}

.note .hashtag{
    font-size: 16px;
}

.pomo-hashtag{
    color: #e08291;
}

.shortbreak-hashtag{
    color: #80c4cc;
}

.longbreak-hashtag{
    color: #7bb9d3;
}

/*tasks*/
.tasks{
    width: 480px;
    margin: auto;

    position: relative;
}

.tasks__title{
    color: white;
    font-size: 20px;
    font-weight: 600;

    padding-bottom: 0.8rem;

    height: 40px;

    position: relative;
}

.tasks__title--pomo{
    border-bottom: 3px solid #de6b67;
}

.tasks__title--longbreak{
    border-bottom: 3px solid #b7d3d4;
}

.tasks__title--shortbreak{
    border-bottom: 3px solid #b7d3d4;
}

.tasks__title p{
    position: absolute;
    top:25%; 
    left: 0;
}

.tasks__title i{
    position: absolute;
    top:25%; 
    right: 0;
}


.tasks__adding{
    margin-top: 1.2rem;
}

.task__list .task__item {

    background: white;
    margin-bottom: 10px;
    padding: 1em 1.25em;
    border-radius: 4px;
    border-left: 5px solid black;
    color: #999999;

    position: relative;
}

.task__list .task__item p{
    display: inline;
}

.task__list .task__item .task__item__title{
    color: #6a6a6a;
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
}

.task__item__left i{
    color: #dfdfdf;
}

.task__item__right{
    position: absolute;
    right: 10px;
    top: 1.75em;

    transform: translate(-50%, -50%);
}

.task__item__right .task__item__section {
    font-size: 14px;
    margin-right: 12px;
    font-weight: bold;
}

.task__item__note{
    background-color: #fcf8de;
    color: black;
    margin-top: 10px;
    margin-left: 25px;

    padding: 0.75em;


    border-radius: 5px;
}


.task__item__right .task__item__section .task__item__section--done {
    font-size: 17px;
}

.task__form{
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    line-height: 2.5rem;
    display: none;

    z-index: 2;
}

.task__form__info {
    padding: 0 1.25rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.task__form__info label{
    display: block;
    font-weight: bold;
    font-size: 17px;
    color:#555555;
}

.task__form__info input[type="text"] {
    font-size: 25px;
    color: #595c5f;
    font-weight: 600;

    width: 100%;
    max-lines: 1;
    border: none;
}

.task__form__info input[type="text"]:focus{
    border: none;
    outline: none;
}

.task__form__info input[type="text"]::placeholder{
    color: #e3dddd;
    font-style: italic;
    font-weight: bold;
}

.task__form__info input[type="number"]{
    background-color: #efefef;
    color: #555555;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 80px;
    box-sizing: border-box;
    padding: 0.75rem 1rem;

    margin-right: 10px;
}

.task__form__info input[type="number"]::-webkit-outer-spin-button,
.task__form__info input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.task__form__info p{
    display: inline;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: #949494;

    cursor: pointer;
    
}

.task__form__info .lock {
    color: #949494;

}

.form-note-area textarea::-webkit-outer-spin-button,
.form-note-area textarea::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-note-area textarea{
    width: 100%;
    height: 80px;
    resize: none;
    font-family: 'Nunito';
    font-size: 16px;

    background-color: #efefef;
    border-radius: 5px;

    border:none;
    outline: none;

    box-sizing: border-box;
    padding: 0.75em;

    margin-top: 30px;

    display: block;
}

.task__form__bottom{
    background-color:#efefef;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task__form__bottom a{
    cursor: pointer;
}


.icon-plus{
    margin-right: 5px;
}


/*buttons*/
.btn-sm{
    font-size: 16px;
    padding: 3px 6px;
    border-radius: 3px;
}

.btn-md{
    padding: 12px 18px;
    border-radius: 3px;
}

.btn-lg{
    font-size: 25px;
    padding: 1rem 3rem;
    border-radius: 5px;

    text-transform: uppercase;
    font-weight: 700;
}

.btn-xl{
    width: 480px;
    padding: 1.2rem 3rem;
    border-radius: 5px;

    font-size: 16px;
}

.btn-bg-transparent{
    background-color: transparent;
    border: none;
    color: white;
}

.btn-bg-white{
    background-color: white;
    color: var(--primary-tomato);
    border: none;
}

.pomo-btn{
    color: var(--primary-tomato);
}

.longbreak-btn{
    color: var(--primary-blue);
}

.shortbreak-btn{
    color: #639998;
}

.btn-bg-dark-tomato{
    background-color: #c64d48;
    color: #edc0be;
    border: none;

    border-radius: 10px;
    border: 3px dashed #edc0be;
}

.btn-bg-dark-tomato:hover{
    background-color: #c24c47;
    color: #f3dbda;
}

.btn-bg-dark-green{
    background-color: #458488;
    color: #bcd5d6;
    border: none;

    border-radius: 10px;
    border: 3px dashed #80adaf;
}

.btn-bg-dark-green:hover{
    background-color: #448285;
    color: #d9e6e7;
}


.btn-bg-dark-blue{
    background-color: #3e7195;
    color: #bacddb;
    border: none;

    border-radius: 10px;
    border: 3px dashed #7da0b8;
}

.btn-bg-dark-blue:hover{
    background-color: #3d6f92;
    color: #d8e2e9;
}

.icon-btn{
    background-color: white;
    border-radius: 5px;
    color: #757575;
    padding: 0.6rem 0.7rem;

    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin-left: 5px;

    cursor: pointer;
}

#add-pj-btn {
    margin-left: 10px;
}



#countdown-btn{
    position: absolute;

    /* top: 100%; */
    top: 250px;
    
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown-btn:hover{
    top: 258px;
    box-shadow: none;
}

#cancel-form-btn{
    color: #929295;
    font-size: 14px;
    font-weight: bold;

}

#save-form-btn{
    border:none;
    font-size: 14px;

}


.btn-3d-white{
    box-shadow: 0px 8px 0px #ebebeb;
    transition: all 0.2s ease-in-out;
}


.btn-bg-pink{
    background-color:#e0736f;
    color: white;
}

.btn-bg-light-green{
    background-color:#6ca4a7;
    color: white;   
}

.btn-bg-light-blue{
    background-color:#6693b4;
    color: white;
}

.btn-bg-gray {
    background-color:#b1b1b1;
    color: white;

}


.nav-button{
    cursor: pointer;
}

.btn-sm-icon{
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    margin-right: 7px;
}


.active-tomato{
    background-color: var(--dark-tomato);
    font-weight: bold;
}

.active-green{
    background-color: #508588;
    font-weight: bold;
}

.active-blue{
    background-color: #4b7592;
    font-weight: bold;
}